<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= post.title %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <h1><%= post.title %></h1>
        <a href="/" class="btn back-home">← Back to Home</a>
    </header>

    <main>
        <p><%= post.content %></p>
        <!-- <a href="/" class="btn back">Back to Home</a> -->
    </main>
</body>
</html>
